header {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(0, 212, 255, 0.9416141456582633) 11%,
    rgba(181, 60, 174, 0.908000700280112) 30%,
    rgba(108, 9, 121, 0.7287289915966386) 65%,
    rgba(158, 7, 109, 1) 92%,
    rgba(2, 161, 221, 1) 97%
  );
  border-bottom: blueviolet solid 4px;
  height: 50px;
  text-align: center;
  font-family: 'Kranky', cursive;
  font-size: 2rem;
}
